<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.deshine.huishu.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 扫一扫权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label,android:theme,android:name">
        <activity
            android:name=".home.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".customerInvite.CustomerInviteActivity" />
        <activity android:name=".customerInvite.CustomerInviteActivity1" />
        <activity android:name=".customerInvite.CustomerInviteActivity2" />
        <activity android:name=".customerInvite.CustomerInviteActivity3" />
        <activity android:name=".signOrderUpload.activity.SignOrderUpload1"></activity>
        <activity android:name=".signOrderUpload.activity.SignOrderUpload"></activity>
        <activity android:name=".scan.ScanActivity" />
        <activity android:name=".scan.TestScanActivity" />
        <activity android:name=".workbench.view.WorkbenchActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".home.MainActivity" />
        <activity android:name=".news.activity.NewsChannelActivity" />
        <activity android:name=".news.activity.NewsDetailActivity" />
        <activity android:name=".news.activity.NewsPhotoDetailActivity" />
        <activity android:name=".permission.HelpActivity" />
        <activity
            android:name=".orcameralib.OcrCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera.CameraActivity"
            android:allowBackup="true" />
    </application>

</manifest>